body {
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c); /* Fundo degradê escuro */
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}


h1 {
  color: #ff0000;
  margin-bottom: 40px;
}

p {
  color: #ccc;
  margin-bottom: 40px;
}


h2 {
  color: #ff0000;
}


.card {
  margin: auto;
  position: relative;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #202020, #333333);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}


.card:hover {
  transform: scale(1.02); 
}
 
.card h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #ff0000;
}

.horarios-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.horario-box {
  background: #1a1a1a;
  border: 1px solid #ce0000;
  border-radius: 12px;
  padding: 15px 0;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}


.horario-box:hover {
  background: #df0000;
  color: #000;
  box-shadow: 0 0 10px #bd0707, 0 0 20px #530000;
}

button {
  margin-top: 30px; 
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(89, 89, 90);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  position: relative; 

  background: rgb(218, 0, 0);
  box-shadow: 0 0 30px 5px rgba(61, 1, 1, 0.815);
  transition: all 0.2s ease-out;
}


button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

button:hover::before {
  animation: sh02 0.5s 0s linear;
}


@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}


button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}